@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import 'technologies';
@import 'technology';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.header,
.main {
    background-color: $background-color-light;
    padding: 0 6em;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.title,
.logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title * {
    color: $font-light;
}

.title p {
    font-style: italic;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background: #707070;
    color: $font-light;
}

.footer a {
    color: $font-light;
}

.footer a:hover {
    color: $font-light;
}

.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-light;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: #ffa500;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.nav {
    padding: 3em;
    text-align: right;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    font-weight: bold;
}

.nav a,
.nav-toggle {
    color: $font-light;
}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    color: $accent-color;
}

.nav a:hover,
.nav-toggle:hover {
    color: $accent-color;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}


img {
    max-width: 100%;
}
