$font-color: #eee;
$font-alternative-color: #fff;
$accent-color: #32cd32;
$background-color: #282828;
$link-color: #ff1746;
$head-color: #ffa500;

// Light Mode
$font-light: #000;
$font-alternative-light: #000;
$accent-color-light: #329532;
$background-color-light: #fff;
$head-color-light: rgb(255, 85, 0);
