{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <h1 class="gallery-h1">Gallery</h1>
        <div class="gallery">
            {{ content }}
        </div>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/pc8WFYhkatA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
